:root {
    --dashboard-screen-table-border-color: #d2d2d2;
    --dashboard-screen-button-background-color: #007ad9;
    --dashboard-screen-button-color: #f4f4f4;
}

.dashboard-screen {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.dashboard-screen-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%; 
}

.dashboard-screen-table {
    width: 100%;
    padding: 20px;
    margin: 20px 0px;

    border: solid 1px var(--dashboard-screen-table-border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-screen-table h2 {
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.dashboard-screen-table h3 {
    margin: 10px 0px;
    font-size: 1.1rem;
    font-weight: 500;
}

/***************** Search Bar *****************/

.search-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.search-container input {
    width: 80%;
    padding: 8px 4px;
    border-radius: 4px;
    border: solid 1px var(--list-screen-table-background-color);
}

.search-container button {
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0px 8px;

    font-size: 1.1rem;

    background-color: var(--dashboard-screen-button-background-color);
    color: var(--dashboard-screen-button-color);
    cursor: pointer;
}

@media (min-width: 1280px) {

    .dashboard-screen {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .dashboard-wrapper {
        width: 48%; 
    }
}
