:root {
    --dashboard-button-container-background-color: #f4f4f4;
    --dashboard-buttons-container-border-color: #d2d2d2;
}

.dashboardScreen {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.dashboard-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 20px;
    border: solid 1px var(--dashboard-buttons-container-border-color);

    background-color: var(--dashboard-button-container-background-color);
}