:root {
    --navigation-container-background-color: #f8f9fa;
    --navigation-container-link-color: #383c44;
    --navigation-container-link-hover-color: #6799de;
}

.navigation-container {
    height: 100%;
    width: 15%;

    background-color: var(--navigation-container-background-color);
}

.navigation-container nav ul li  {
    margin: 10px;
}

.navigation-container nav ul li a {
    font-size: 0.9rem;
    color: var(--navigation-container-link-color);
    cursor: pointer;
}

.navigation-container nav ul li a:hover {
    color: var(--navigation-container-link-hover-color);
}

@media (min-width: 1024px) {

    .navigation-container {
        width: 20%;
        padding: 20px;
    }
    
    .navigation-container nav ul li a {
        font-size: 1.15rem;
    }
}